
<style>
   nav{
    height: 10vh;
    width: 100%;
    /* background-color: cyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
   }

   .logo{
height: 10vh;
width: 6vw;
/* background-image: url("https://cdn.icon-icons.com/icons2/2428/PNG/512/kakaotalk_black_logo_icon_147117.png"); */
background-image: url("https://www.logoground.com/uploads6/dv6y2019406312019-10-093333955kedua-01.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
mix-blend-mode: multiply;
   }

   .logocontent{
      height: 10vh;
      width: 8vw;
      /* border: 2px solid black; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
   }
   .logocontent >h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2vmax;
   }

   .loginbtn{
      font-size: 1.4vmax;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: white;
      background-color: black;
      border-radius: 0.5vmax;
      padding: 0.6vmax 1.3vmax;
   }

   .adminbtn{
      /* text-decoration: none; */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6vmax;
      font-weight: bold;

   }
   .adminbtn >span{
      font-size: 1.6vmax;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
   }

   .logoutbtn{
      font-size: 1.4vmax;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: white;
      background-color: black;
      border-radius: 0.5vmax;
      padding: 0.6vmax 1.3vmax;
   }

</style>





<nav>
   
      
   <% if(!admin){%>
      <div class="logocontent">
         <div class="logo"></div>
         <h1>Talks</h1>
      </div>
      <a class="loginbtn" href="/login">LogIn</a>

   
   <%}else{%>
      <div class="logocontent">
         <div class="logo"></div>
         <h1>Talks</h1>
      </div>


 <a href="<%admin%>" class="adminbtn"><span>Username:</span><%=admin.username%></a>
      <a href="/login" class="logoutbtn">Logout</a>
   
   <%}%>

</nav>