
<style>
   nav{
    height: 10vh;
    width: 100%;
    /* background-color: cyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
   }

   .logo{
height: 10vh;
width: 6vw;
/* background-image: url("https://cdn.icon-icons.com/icons2/2428/PNG/512/kakaotalk_black_logo_icon_147117.png"); */
background-image: url("https://www.logoground.com/uploads6/dv6y2019406312019-10-093333955kedua-01.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
mix-blend-mode: multiply;
   }

   .logocontent{
      height: 10vh;
      width: 8vw;
      /* border: 2px solid black; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
   }
   .logocontent >h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2vmax;
   }
</style>





<nav>
   <div class="logocontent">
      <div class="logo"></div>
      <h1>Talks</h1>
   </div>
      


</nav>