
<%- include("partials/header")%>
  <%- include("partials/nav")%>
  <link rel="stylesheet" href="/stylesheets/chatroom.css">

<div class="chatroom">
  
<div class="chatroom-left">
  <h1>Your Contacts</h1>
  <hr>

  <div  class="users">

    <% data.forEach(function(u){%>
<div  class="usersbox">
<h3 class="userboxname"><%= u.username%></h3>
</div>
<hr>
 <%})%>



  </div>
</div>


<div class="chatroom-right">

  <div class="namebox">
    <h1  class="userName"></h1>
  </div>


<div class="messagesbox">
 

</div>

<div class="inputs">
  <input type="text" name="message" placeholder="Send Message" class="msginput">
  <button onclick="sendMsg()">Send</button>
</div>



</div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

  

  

    function incomingMsg(msg) {
document.querySelector(".messagesbox").innerHTML += `<div class="incomingMsg msg">
    <div class="username">${msg.username}</div>
    <div class="chats">${msg.msg}</div>
  </div>`
    }

    function outgoingMsg(msg){
      document.querySelector(".messagesbox").innerHTML +=`<div class="outgoingMsg msg">
    <div class="username">you</div>
    <div class="chats">${msg}</div>
  </div>`
    }


   async function sendMsg(){
      const inputmsg = document.querySelector("input").value

 

      const msgpacket = {
      username: "username",
      msg: inputmsg
    }

    outgoingMsg(inputmsg)
    socket.emit("sony", msgpacket)

    document.querySelector("input").value = ""
    }


    socket.on("incomingMsg", (msg)=>{
incomingMsg(msg)
    })
  
   
//     var username = prompt("enter username")
//         console.log(username)
//  document.querySelector(".userName").innerHTML +=`${username}`

</script>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="/javascripts/chatroom.js"></script>
  <%- include("partials/footer")%>
